{title:"About Us", id:"about"}
!!!
<h1>About</h1>

<p>The data below is coming from a JSON file.</p>

<ul>
  <% site.projects.forEach((project) => { %>
    <li><a href="<%= project.url %>"><%= project.name %></a></li>
  <% }) %>
</ul>

<p>Back to <a href="<%= pages.home.url %>"><%= pages.home.title %></a></p>

<p>
  <%- include('/layouts/partials/circle-arrow-right.svg') %>
  See the <a href="<%= pages['hands-on-demo'].url %>"><%= pages['hands-on-demo'].title %></a>
</p>